<section id="contact"><br><br></section>
  <div id="footerwrap">
    <div class="container-fluid">
      <br>
	  <h2>CONTACT</h2>
	  <div class="row-fluid">
	    <div class="span4">
		   <!-- <img src="assets/img/logo_small.png" alt=""> -->
			 <h3><b>West Texas Wings</b></h3>
			 <h4>501 West Holland Avenue</h4>
			 <h4>79830 Alpine, Texas</h4>
			 <h4>westtexaswings@gmail.com</h4>
       <h4>432.837.5233</h4>
		</div><!-- span4 -->	
		<div class="span4 pull-right">
      <%= form_for(@contact)   do |f| %>
        <% flash.each do |key, value| %>
          <% if value == "Message Recieved!" %>
            <%= content_tag(:div, value, class: "alert alert-#{key}") %>
          <% else %>
            <% value.each do |v| %>
              <%= content_tag(:div, v, class: "alert alert-#{key}") %>
            <% end %>
          <% end %>
        <% end %>
        <%= f.text_field :name, :placeholder => 'Full Name', :class => 'span12' %>

        <%= f.text_field :email, :placeholder => 'Email Address', :class => 'span12' %>

        <%= f.text_field :subject, :placeholder => 'Subject', :class => 'span12' %>

        <%= f.text_area :message, :placeholder => 'Message', :rows => 6, :class => 'span12' %>
<br />
        <%= f.submit "Send", class: "btn btn-default   center" %>
      <% end %>
      
</div> <!--span4 pull-right -->
  </div> <!--row-fluid -->
</div><!-- container-fluid -->
</div> <!-- footer wrap -->