<section id="menu"><br><br></section>
<div id="menuwrap">
<div class="containter-fluid">
<div class="row-fluid">

 <!-- <%= make_menu %> --> 
	<h1><b> MENU </b></h1>
<div class="span4 pull-left">
<h2><b>WINGS</b></h2>
<h4>sauced and tossed any way you like</h4>
  <% @menu.each do |item| %>
    <% if item.section == "Wings" %>
      <%= item.item %> -
      <%= item.price %> <br />
    <% end %>
  <% end %>

<h2><b>STRIPS</b></h2>
<h4>sauced and tossed any way you like</h4>
  <% @menu.each do |item| %>
    <% if item.section == "Strips" %>
      <%= item.item %> - 
      <%= item.price %><br />
    <% end %>
  <% end %>
<h2><b>SALAD</b></h2>
<h4>spring mix, cheese, hard-boiled egg, carrot, and your choice of ranch, blue cheese, or honey mustard</h4>
  <% @menu.each do |item| %>
    <% if item.section == "Salad" %>
      <%= item.item %> - 
      <%= item.price %> <br />
    <% end %>
  <% end %>

  <h2><b>Sides</b></h2>
  <% @menu.each do |item| %>
    <% if item.section == "Sides" %>
      <%= item.item %> -
      <%= item.price %> <br />
    <% end %>
  <% end %>

  <br /> <br /><h2><b>432.837.5233</b></h2>
   </div>


   <div class="span4 pull-right">
<h2><b>WING COMBOS</b></h2>
<h4>sauced and tossed any way you like, your choice of regular or sweet potato fries, dressing, and a drink <br /><small>32 Wing Combos receive 2 Fries/Drinks and 50 Wing Combos receive 4 Fries/Drinks</small></h4>
  <% @menu.each do |item| %>
   	<% if item.section == "Wing Combos" %>
      <%= item.item %> - 
      <%= item.price %> <br />
    <% end %>
  <% end %>
<h2><b>STRIP COMBOS</b></h2>
<h4>sauced and tossed any way you like, your choice of regular or sweet potato fries, dressing, and a drink</h4>
  <% @menu.each do |item| %>
    <% if item.section == "Strip Combos" %>
      <%= item.item %> - 
      <%= item.price %> <br />
    <% end %>
  <% end %>
   	<h2><b>RUBS</b></h2>
  <% @menu.each do |item| %>
    <% if item.section == "Rubs" %>
      <%= item.item %> <br />
    <% end %>
  <% end %>

<h2><b>SAUCES</b></h2>
  <% @menu.each do |item| %>
    <% if item.section == "Sauces" %>
      <%= item.item %> <br />
    <% end %>
  <% end %>
</div>
</div>
</div>
</div>