<header class="navbar navbar-fixed-top navbar-inverse" data-spy="affix">
  <div class="navbar-inner">
    <div class="container-fluid">
      <%= link_to "west texas wings", root_path, id: "logo" %>
      <nav>

        <ul class="nav pull-right">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Location", location_path %></li>
          <li><%= link_to "Menu", "http://docs.google.com/viewer?url=wtwings.herokuapp.com%2Fmenu2013.pdf" %></li>
     <!---     <li><%= link_to "Online Ordering", '#' %></li> -->
        </ul>
      </nav>
    </div>
  </div>
</header>